<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">OpenSourceOS</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a routerLink='./homeurl'>Home</a></li>
                <li class="active"><a routerLink='./abouturl'>   About Us</a></li>
                <li class="active"><a routerLink='./contacturl'>  Contact Us</a></li>
                <li class="active"><a routerLink='./profileurl'>  Profile</a></li>
                <li class="active"><a routerLink='./serviceurl'>  Service</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a routerLink='./loginurl'>Login</a></li>
            </ul>
        </div>
    </nav>
    <router-outlet> </router-outlet>

</body>
</html>
