<body style="background-color:brown;">
    <div class="container" style="background-color:bisque;">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center"> Linux Distributions</h3>
                <!--RPM Based-->
                <div class="col-md-12">
                    <h4 class="text-center">RPM Based</h4>
                    <div class="col-md-3 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/RPM Based/FedoraLogo.png" />
                    </div>
                    <div class="col-md-3 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/RPM Based/RedHatLinuxLogo.png" />
                    </div>
                    <div class="col-md-3 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/RPM Based/OpenSUSELogo.png" />
                    </div>
                    <div class="col-md-3 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/RPM Based/MadrikeLinuxLogo.png" />
                    </div>
                </div>
                <br /><br /><br />
                <!--Independent RPM distributions-->
                <div class="col-md-12">
                    <h4 class="text-center">Independent RPM distributions</h4>
                    <div class="col-md-4 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/RPM Based/Independent RPM distributions/TurboLinuxLogo.png" style="height:200px;width:200px;" />
                    </div>
                    <div class="col-md-4 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/RPM Based/Independent RPM distributions/VineLinuxLogo.gif" style="height:200px;width:200px;" />
                    </div>
                    <div class="col-md-4 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/RPM Based/Independent RPM distributions/CalderaOpnLinuxLogo.jpg" style="height:200px;width:300px;" />
                    </div>
                </div>
                <br /><br /><br />
                <!--Debian Based-->
                <div class="col-md-12">
                    <h4 class="text-center">Debian Based</h4>
                    <div class="col-md-2 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/Debian Based/Sid-based/LinuxBBQLogo.png" />
                    </div>
                    <div class="col-md-2 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/Debian Based/Testing Based/KaliLinuxLogo.png" />
                    </div>
                    <div class="col-md-2 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/Debian Based/Testing Based/UbuntuLogo.png" />
                    </div>
                    <div class="col-md-2 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/Debian Based/Testing Based/LinuxMintDebianEditionLogo.png" />
                    </div>
                    <div class="col-md-2 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/Debian Based/Testing Based/BackTrackLogo.png" />
                    </div>
                    <div class="col-md-2 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/Debian Based/Ubuntu Based/UbuntuGNOMELogo.png" />
                    </div>
                    <div class="col-md-3 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/Debian Based/Ubuntu Based/EdubuntuLogo.png" />
                    </div>
                    <div class="col-md-3 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/Debian Based/Ubuntu Based/LUbuntuLogo.png" />
                    </div>
                    <div class="col-md-3 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/Debian Based/Ubuntu Based/KubuntuLogo.png" />
                    </div>
                    <div class="col-md-3 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/Debian Based/Ubuntu Based/XUbuntuLogo.png" />
                    </div>
                </div>
                <br /><br /><br />
                <!--Urpmi Based-->
                <div class="col-md-12">
                    <h4 class="text-center">Urpmi Based</h4>
                    <div class="col-md-4 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/RPM Based/urpmi-based/MandrivaLinuxLogo.png" />
                    </div>
                    <div class="col-md-4 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/RPM Based/urpmi-based/RosaLinuxLogo.png" />
                    </div>
                    <div class="col-md-4 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/RPM Based/urpmi-based/UnityLinuxLogo.png" />
                    </div>
                </div>
                <br /><br /><br />
                <!--Fedora Based-->
                <div class="col-md-12">
                    <h4 class="text-center">Fedora Based</h4>
                    <div class="col-md-4 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/RPM Based/Fedora-based/QubesOSLogo.png" style="padding-left:20px;" />
                    </div>
                    <div class="col-md-4 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/RPM Based/Fedora-based/CentOSLogo.png" style="padding-left:20px;" />
                    </div>
                    <div class="col-md-4 col-offset-1">
                        <img src="../app/images/OS/Unix-Like/Linux Distribution/RPM Based/Fedora-based/YellowDogLinuxLogo.png" style="padding-left:20px;" />
                    </div>
                </div>
            </div>
            <br /><br /><br />
            <h3 class="text-center"> Unix-Like</h3>
            <!--GNU-->
            <div class="col-md-12">
                <h4 class="text-center">GNU</h4>
                <div class="col-md-6 col-offset-1">
                    <img src="../app/images/OS/Unix-Like/GNU/GNULogo.png" style="height:200px; width:200px; padding-left:70px;" />
                </div>
                <div class="col-md-6 col-offset-1">
                    <img src="../app/images/OS/Unix-Like/LinuxLogo.png" style="height:200px; width:200px;" />
                </div>
            </div>
            <br /><br />
            <!--Net BSD-->
            <div>
                <h4 class="text-center">Net BSD</h4>
                <div class="col-md-4 col-offset-1">
                    <img src="../app/images/OS/Unix-Like/BSD/NetBSD/BitrigLogo.png" style="height:300px;width:300px; padding-left:70px;" />
                </div>
                <div class="col-md-4 col-offset-1">
                    <img src="../app/images/OS/Unix-Like/BSD/NetBSD/NetBSDLogo.png" style="height:300px;width:300px;" />
                </div>
                <div class="col-md-4 col-offset-1">
                    <img src="../app/images/OS/Unix-Like/BSD/NetBSD/OpenBSDLogo.png" style="height:300px;width:300px;" />
                </div>
            </div>
            <br /><br />
            <!--Free BSD-->
            <div>
                <h4 class="text-center">Free BSD (BSD Unix)</h4>
                <div class="col-md-4 col-offset-1">
                    <img src="../app/images/OS/Unix-Like/BSD/FreeBSD(BSD Unix)/DarwinLogo.png" style="height:300px;width:300px; padding-left:70px;" />
                </div>
                <div class="col-md-4 col-offset-1">
                    <img src="../app/images/OS/Unix-Like/BSD/FreeBSD(BSD Unix)/DragonFlyBSDLogo.png" style="height:300px;width:300px;" />
                </div>
                <div class="col-md-4 col-offset-1">
                    <img src="../app/images/OS/Unix-Like/BSD/FreeBSD(BSD Unix)/FreeBSDLogo.png" style="height:300px;width:300px;" />
                </div>
            </div>
            <br /><br /><br />
            <!--Non Unix Like-->
            <div class="col-md-12">
                <h3 class="text-center"> Non-Unix-Like</h3>
                <section>
                    <h4 class="text-center"> Research</h4>
                    <img src="../app/images/OS/Non-Unix-Like/Research/HelenosLogo.png" class="img-responsive center-block" />
                </section>
            </div>
            <div class="col-md-12">
                <h4 class="text-center">Free and Open source</h4>
                <div class="col-md-6 col-offset-1">
                    <img src="../app/images/OS/Non-Unix-Like/TempleOSLogo.jpg" style="height:200px; width:200px;" />
                </div>
                <div class="col-md-6 col-offset-1">
                    <img src="../app/images/OS/Non-Unix-Like/ReactOSLogo.png" style="height:200px; width:300px;" />
                </div>
            </div>
        </div>
    </div>

</body>

